body {
  padding-top: 40px;
  padding-bottom: 40px;
}
div {
  margin-top: 10px;
  margin-bottom: 10px;
}
.items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 640px;
}
.link {
  background-color: aqua;
  display: flex;
  align-items: center;
  padding: 5px;
  border: thin red solid;
  border-radius: 10px;
}
.link a {
  color: #001e1d;
  text-decoration: none;
  text-align: center;
  flex-grow: 1;
}

.name {
  color: #d4800b;
  display: flex;
  justify-content: center;
  background: aqua;
  padding-top: 5px;
  padding-bottom: 5px;
  border: thin red solid;
  border-radius: 10px;
}

.banner {
  background-image: linear-gradient(to right, red , yellow);
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.social-icons {
  display: flex;
  justify-content: space-evenly;
  background: aqua;
  align-items: center;
  padding: 10px;
  border: thin red solid;
  border-radius: 10px;
}
.banner-image {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 128px;
  border: thin yellow solid;
}
.images {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
  border: thin yellow solid;
}
